@import url("https://fonts.googleapis.com/css?family=Damion|Muli:400,600");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  background-image: url(../images/ocean.png);
  background-size: cover;
  color: #fff;
}

.form-div {
  position: absolute;
  top: 10px;
  right: 160px;
}
hr {
  border: 2px solid rgba(255, 255, 255, 0.399);
  margin: 10px;
}

h1 {
  margin-left: 20px;
  font-family: Georgia, serif;
}

header {
  margin: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

button {
  margin: 5px;
  border: none;
  color: rgb(216, 214, 214);
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: transform 0.5s ease-in-out, color 0s ease-in;
}
button:hover {
  transform: scale(1.1);
  color: #fff;
}

.green {
  background-color: rgba(40, 167, 69, 1);
}

.red {
  background-color: rgba(220, 53, 69, 1);
}

.buttons {
  margin-right: 20px;
}

.card {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  position: relative;
  border: 5px solid rgba(255, 255, 255, 0.158);
  margin: 0 0 20px 20px;
  padding: 50px 20px 40px 20px;
  background-color: #2a51612f;
  width: 300px;
  height: 200px;
}
.card p {
  margin-bottom: 8px;
}

.card p:last-child {
  margin-bottom: 0;
  font-size: 15px;
}

.delete-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.main-form {
  margin-left: 30px;
}

.main-form input {
  display: block;
  background-color: rgba(115, 108, 126, 0.4);
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.384);
}

.input-div {
  display: flex;
  margin-top: 20px;
}

.first {
  align-self: center;
  margin-right: 39px;
}

.second {
  align-self: center;
  margin-right: 30px;
}

.third {
  align-self: center;
  margin-right: 13px;
}
.fourth {
  margin-left: 30px;
  margin-right: 13px;
}
.selector {
  margin-top: 40px;
}

select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
}

select option {
  padding: 10px;
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: transparent;
}

.modal-content {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.danger {
  color: rgb(206, 26, 26);
  margin: 10px 0 0 30px;
}

.dimensions,
.furniture-labels {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.furniture-labels {
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.description {
  color: rgb(195, 186, 186);
  font-weight: bold;
  margin: 30px 0 0 30px;
}
